body {
    margin: 0
}

.top {
    position: absolute;
}

video::-webkit-media-controls-enclosure {
    display:none
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.overlay {
    position: absolute;
    z-index: 100;
    padding: 10px;
    background: #fafafa;
}
