<!DOCTYPE html>
<html>
    <head>
        <title>Live Transcription</title>
        <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
        <link rel="stylesheet" href="static/styles.css" type="text/css" media="screen" />
    </head>
    <body>
        <div class="overlay">
            <p id="status">Connection status will go here</p>
            <p id="connected-clients">Connected clients will go here</p>
            <p id="score"></p>
        </div>
        <div>
            <video id="mainVideo"
                   controls
                   width="100%">
                <!-- <source src="/static/out1.webm" type="video/webm"> -->
                <source src="https://do-not-kill-flower-bucket.s3.us-east-2.amazonaws.com/out1.webm"
                        type="video/webm">
            </video>
        </div>
        <!-- <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script> -->
        <script src="static/demo.js"></script>
        <script src="static/service-worker.js"></script>


    </body>
</html>
